.rope-wrapper {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  .rope{
    background-image: url(../../../assets/img/rope_animation.png);
    background-size: contain;
    background-repeat: repeat;
  }
}
