.rope-wrapper{
  // position: fixed;
  // right: 0;
  // top: 0;
  width: 100px;
  height: 100vh;
  // height: 0px;
  overflow: hidden;
  .rope-div {
    background-image: url(../../../assets/img/rope_animation.png);
    background-position: right;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
